*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    background-color: #000036;
    color: white;
    /* height: 200vh; */
}

.navbar{
    padding: 10px 50px;
    /* position: -webkit-sticky;
    position: sticky;
    top: 10px;
    padding: 5px; */

}

.navbar{
    background-color: #000036;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    padding: 5px;
}

.navbar-inside{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.navbar-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 20px;
}

ul>li{
    padding: 0 20px;
    font-size: 18px;

}

ul>li>a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #7562E0;
    /* color: black; */
}

.intro-photo{
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    /* height: 75vh; */
}
 
.intro{
    margin: 30px;
    width: 30%;
}

.intro h1,h2{
    margin-bottom: 10px;
}

.intro h2{
    font-size: 32px;
}

.intro h1{
    font-size: 52px;
}

.intro p{
    font-size: 18px;
    width: 75%;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0 0 ;
}

.button-one , .button-two{
    margin: 10px 20px 10px 20px;
}

#intro-button{ 
    height: 40px;
    height: 8vh;
    padding: 10px 35px;
    border-radius: 10px;
    transition: 0.5s;
    background-color: #7562E0;
}
 
#intro-button:hover{
    background-color: transparent;
    border: 2px solid #7562E0;
    cursor: pointer;
}

.about-me{ 
    background-color: #7562E0;
    background-color: #000036;
    color: white;
    padding: 20px;
}

.projects{
    background-color: transparent;
    color: white;
    border: 2px solid #7562E0;
    padding: 20px;
}

.photo{
    margin: 30px;
}

#flex-inside{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%; 
} 

#flex-inside .photo img {
    width: 35vw;
    height: 40vh;
}

.about-me{ 
    height: 80vh;
    /* background-color: #000036; */
}

.content{
    padding: 30px 40px;
}

.intro-content{
    width: 95%;
    margin: 15px 35px;
}

.intro-content>h1{
    margin-bottom: 10px;
    font-size: 32px;
}

.intro-para{
    font-size: 18px;
}

.experience{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
    margin: 15px 35px;
}

.five{
    font-size: 36px;
    margin: auto 20px;
}

.bakika{
    font-size: 25px;
    margin: auto 5px;
} 

.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.card-one, .card-two, .card-three, .card-four{
    background-color: grey;
    width: 200px;
    height: 200px;
    padding: 18vh 0px 0 1.5vw;
    transition: 0.4s;
    margin: 2vh 2vw;
}

.card-one:hover, .card-two:hover, .card-three:hover, .card-four:hover{
    background-color: #7562E0;
} 

.connect{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.connect-with-me{
    line-height: 5.2vh;
}

.social-icons>.fa{
    font-size: 25px;
}

.social-icons>a{
    text-decoration: none;
} 

.social-icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; 

}

.fa-linkedin{
    animation-name: ved;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes ved {
    0%{
        transform: translate(0px,0px);
    }
    20%{
        transform: translateY(5px);
    }
    40%{
        transform: translateY(10px);
    }
    60%{
        transform: translateY(15px);
    }
    80%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(25px);
    }
}

.fa-facebook{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; 
    animation-name: ved1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes ved1 {
    0%{
        transform: translate(0px,0px);
    }
    20%{
        transform: translateY(5px);
    }
    40%{
        transform: translateY(10px);
    }
    60%{
        transform: translateY(15px);
    }
    80%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(25px);
    }
}
.fa-instagram{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; 
    animation-name: ved2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes ved2 {
    0%{
        transform: translate(0px,0px);
    }
    20%{
        transform: translateY(5px);
    }
    40%{
        transform: translateY(10px);
    }
    60%{
        transform: translateY(15px);
    }
    80%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(25px);
    }
}

.fa-linkedin{
    color: #2867B2;
}

.fa-instagram{
    color: #ded1c1;
    color: #e95950;
}

.fa-facebook{
    color: rgb(66, 103, 178);
}

.connect-message{
    display: block;
}

.name-connect , .email{
    padding: 10px 20px;
    margin: 10px 0;
    width: 100%;
    background-color: rgba(205, 204, 204, 0.2);
    border: none;
}

.message{ 
    padding: 20px;
    margin: 10px 0;
    width: 100%;
    background-color: rgba(205, 204, 204, 0.2);
    border: none;
}

.submit-here{
    margin: 20px auto;
    padding: 10px;
    width: 10vw;
    background-color: #7562E0;
    color: white;
    transition: 0.3s;
    font-size: 16px;
    border-radius: 10px;
}

.submit-here:hover{
    cursor: pointer;
    background-color: #848191;
    color: white;
}

.footer{
    margin: 10px 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #01014a;
}

.footer-content{
    padding: 10px 30px;
}

.footer-content>p>strong{
    color: gold;
    font-size: 18px;
}

.upper{
    font-size: 36px;
    height: 45px;
    width: 42px;
    position: fixed;
    z-index: 99;
    margin: 0px 0vw 0px 92vw;
}

button{
    background-color: gold;
    color: black;
}

.upper>a{
    text-decoration: none;
}